<link href="{{ STATIC_URL }}/uploadify/uploadify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{{ STATIC_URL }}/uploadify/swfobject.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/uploadify/jquery.uploadify.v2.1.4.min.js"></script>
